<header>
  <nav class="navbar mtx-bg-blu navbar-2 white navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mtx-white justify-content-end text-right text-lg-left" href="#" style="padding: 0px; height: 40px;width: 100px;"><img style="padding: 0px;" src="../assets/img/logo5.jpeg"> </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-primary-color" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary-color" routerLink={{provaRouter()}} >Auction</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-primary-color dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{profile}}</a>
          <div class="dropdown-menu mtx-bg-blu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-primary-color" *ngIf="user == null" routerLink="login" >Sign In</a>
            <!--<a class="dropdown-item mtx-white" *ngIf="user == null" routerLink="admin">Admin</a>-->
            <a class="dropdown-item text-primary-color" *ngIf="user != null" routerLink="user/auction">Aste create</a>
            <a class="dropdown-item text-primary-color" *ngIf="user != null && user.username === 'admin'" routerLink="user/admin">Admin</a>
            <a class="dropdown-item text-primary-color" href="#" (click)="logoutFunction()" *ngIf="user != null">Logout</a>
          </div>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0" *ngIf="false">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 mtx-white" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<main role="main">
  <router-outlet class="w-100 h-100" (authorClick)="showAuthorFromParent($event)"></router-outlet>
</main>
<footer class="mtx-bg-blu text-primary-color">
  <p class="float-right "><a href="#" class="text-primary-color">Back to top</a></p>
  <p class="text-primary-color">&copy; 2017-2018 Company, Inc. &middot; <a href="#" class="text-primary-color">Privacy</a> &middot; <a href="#" class="text-primary-color">Terms</a></p>
</footer>

