<header>
  <nav class="navbar mtx-bg-blu navbar-2 white navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mtx-white" href="#">Example</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mtx-white" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mtx-white" routerLink="/login" >Auction</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mtx-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
          <div class="dropdown-menu mtx-bg-blu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item mtx-white" *ngIf="user == null" routerLink="login" >Sign In</a>
            <a class="dropdown-item mtx-white" *ngIf="user == null" routerLink="signup">Sign Up</a>
            <a class="dropdown-item mtx-white" *ngIf="user != null" routerLink="user/auction" >Aste create</a>
            <a class="dropdown-item mtx-white" *ngIf="user != null" routerLink="signup">Sign Up 2</a>
            <!--<div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>-->
          </div>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 mtx-white" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<main role="main w-100 h-100">
  <router-outlet (authorClick)="showAuthorFromParent($event)"></router-outlet>
</main>

<footer class="mtx-bg-blu mtx-white">
  <p class="float-right "><a href="#" class="mtx-white">Back to top</a></p>
  <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#" class="mtx-white">Privacy</a> &middot; <a href="#" class="mtx-white">Terms</a></p>
</footer>

