
<div class="container-fluid w-100 h-100" id="accordion2" style="margin-top: 56px;">
  <div class="row" *ngFor="let auction of listaAste; let i = index;">
    <div class="col-12">
      <div class="card row">
        <div class="col-12">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="list-group-item-heading">{{auction.title}}</h4>
              </button>
            </h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="col-12">
            <a href="" class="list-group-item">
            <div class="row">
                <div class="media col-12 col-lg-3">

                    <img class="media-object img-rounded img-responsive" src="http://placehold.it/350x250" alt="placehold.it/350x250" >

                </div>
                <div class="col-12 col-lg-6">
                  <p class="list-group-item-text">
                  </p>
                </div>
                <div class="col-12 col-lg-3 text-center">
                  <button type="button" class="btn btn-default btn-lg btn-block">Buy now TIME!</button>
                </div>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



