
  <!-- Three columns of text below the carousel -->
  <app-loading-animation *ngIf=""></app-loading-animation>
  <div class="row bg-transparent" id="principalRow">
    <div class="col-xs-12 col-sm-6 col-lg-4" id="copyCol" *ngFor="let card of listaBanner; let i = index;">
      <div class="card">
        <div class="row">
          <div class="col-6 col-sm-5 col-md-6 col-lg-5 pippo text-center center-block">
            <img class="" [src]="'../../../../assets/img/card'+i%3+'.jpg'" alt="Card image cap">
          </div>
          <div class="card-body col-6 col-sm-7 col-md-6 col-lg-7">
            <h5 class="card-title">{{card.title}} </h5>
            <p class="card-text">Base asta: {{card.startPrice}} €</p>
            <p class="card-text">Scade il: {{card.countDownTimeEnd | date :"dd/MM/yyyy HH:mm"}}</p>
            <!--<a href="#" class="btn btn-primary">Bids</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
